@import "./sass/utils/variables";

body {
    min-height: 2000px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(206, 230, 240);
}

.container {
    margin: 2rem;
    padding: 1rem;
}

.btncontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: $cd-btn-start;
    color: $cd-btn-txt;
    border: 2px solid $cd-btn-end;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    transform: scale(1);
    transition: transform 450ms, background-color 300ms 150ms;
    &:active + .ball {
        transform: scale(1);
    }
    &:hover {
        background-color: $cd-btn-end;
        transform: scale(1.13);
    }
}

.ball {
    width: $ball-size;
    height: $ball-size;
    background: $cd-btn-txt;
    margin-top: 1rem;
    border-radius: $ball-size * 0.5;
    transform: scale(0.1);
    transition: transform 1000ms cubic-bezier(.9,0,.42,1.39);
}

.form {
    &__group {
        & input {
            border: 2px solid $cd-box;
            border-radius: 100rem;
            color: $cd-form-txt;
            font-family: 'Montserrat', sans-serif;
            font-size: 2.5rem;
            outline: none;
            padding: .5rem 1.5rem;
            width: 100%;
            transition: background-color 500ms;
            &:focus {
                border: 2px solid $cd-form-txt;
            }
            &:not(:focus):invalid {
                background: $cd-danger;
                border: 2px solid $cd-danger;
                color: $cd-form-txt--invalid;
            }
        }
        & label {
            color: $cd-form-txt;
            margin-left: 1.5rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
    }
}

.progress {
    width: 20em;
    height: 2em;
    display: flex;
    flex-direction: center;
    align-items: center;
    
    &__bar {
        background-color: $progress__bar--color;
        width: 19.8em;
        height: 2.2em;
        margin: 0.1em;
        animation: progress-bar 1000ms 1500ms both;
        transform-origin: left;
        position: absolute;
    }
    &__cat {
        background-image: url(./photos/kittenpic.jpg);
        background-size: cover;
        width: 24em;
        height: 16em;
        position: absolute;
        overflow: hidden;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-position: center;
        font-size: 1em;
        font-weight: 900;
        color: rgb(0, 0, 0);
        animation: cat 1ms 2750ms both;
    }
    &::after {
        content: "";
        width: 20em;
        height: 2.2em;
        border: 2px solid $progress--border;
        z-index: 0;
    }
}

@keyframes cat {
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes progress-bar{
    0% {
        transform: scaleX(0);
    }
    17% {
        transform: scaleX(.18);
    }
    24% {
        transform: scaleX(.4);
        animation-timing-function: cubic-bezier(.9,0,.1,1);
    }
    46% {
        transform: scaleX(.81);
        animation-timing-function: cubic-bezier(.25,0.25,1);
    }
    100% {
        transform: scaleX(1);
    }
}